@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;

.whiteboard {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: calc(100vh - 4.75rem);
}
.editor-container {
    width: calc(100vw - 18.75rem);
    height: calc(100vh - 23.5rem);
    position: relative;
}
.lang {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 999;
    div {
        height: 2rem;
    }
    img {
        @include cta;
        width: 2rem;
        height: 2rem;
        opacity: 0.75;
        transition: opacity 0.3s, filter 0.3s;
        filter: saturate(0);

        &:hover {
            opacity: 1;
            filter: saturate(1)
        }
    }
}
.editor, .firebase {
    @include grow-to-container;
}
.users-container {
    width: 18.75rem;
    height: calc(100vh - 23.5rem);
    border-left: 1px solid $border-light;
}
.console-container {
    width: 100vw;
    height: 18.75rem;
}
.dark {
    .users-container {
        border-left: 1px solid $border-dark;
    }
    .lang {
        img {
            filter: brightness(10) saturate(0);
            opacity: 0.25;
            transition: opacity 0.3s;
            &:hover {
                filter: brightness(10) saturate(0);
                opacity: 1;
            }
        }
    }
}