$bg-primary-light: #ffffff;
$bg-secondary-light: #f2f2f2;
$bg-error-light: #ffc2bd;

$bg-primary-dark: #1D1F21;
$bg-secondary-dark: #25282c;
$bg-other-dark: #101213;
$bg-error-dark: #2e1513;

$border-light: #dedede;
$border-dark: #303338;

$text-primary-light: #000000;
$text-secondary-light: #808080;
$text-other-light: #3f3f3f;
$text-error-light: #c43529;

$text-primary-dark: #ffffff;
$text-secondary-dark: #808080;
$text-other-dark: #b8b8b8;
$text-error-dark: #ff988f;

$highlight-primary-blue: #0366d6;
$highlight-primary-red: #cd1f02;
$highlight-primary-white: #ffffff;